@use "../../Responsive.scss" as *;

nav {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    
    @include md{
        margin: 0px;
    }

    .linktags {
        transition: all 0.4s ease;

        &:hover {
            scale: 1.02;

        }

        @include sm {
            display: none;
        }
    }

    .left {
        flex: 3;
        display: flex;
        align-items: center;
        gap: 50px;

        .logo {
            font-weight: bold;
            font-size: 20px;
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 28px;
                height: 30px;
            }

            span {
                @include md {
                    display: none;
                }

                @include sm {
                    display: initial;
                }
            }
        }
    }

    .right {
        flex: 2;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        align-items: center;
        background-color: #fcf5f3;
        height: 100%;

        @include sm {
            background-color: transparent;
        }

        .linktags {
            padding: 7px 16px;
            margin: 14px;
            border-radius: 4px;
        }

        .register {
            background-color: #fece51;
            
            margin-right: 10px;
            border-radius: 5px;

        }

        .profile {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;


            border-radius: 5px;
            gap: 10px;
            padding: 7px;

            img {
                width: 27px;
                height: 27px;
                border-radius: 50%;
            }
        }

        .logout {
            padding: 10px 15px;
            background-color: #fece51;
            margin-right: 10px;
            border-radius: 5px;
        }

        .menuIcon {
            display: none;

            @include sm {
                display: inline;
            }

            cursor: pointer;
            z-index: 999;
            padding: 5px;
            color: white;
            background-color: black;
            border-radius: 5px;
        }

        .menu {
            position: absolute;
            background-color: black;
            color: white;
            top: 0;
            right: -70%;
            width: 70%;
            height: 100vh;
            transition: all 1s ease;

            &.active {
                right: 0;
            }

            @include sm {
                .linktags {
                    display: initial;

                }

                .register {
                    background-color: black;
                }

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap:10px;
            }
        }
    }

}